// Fonts variables
$font-size-title: 40px;
$font-size-subtitle: 32px;
$font-size-body: 16px;
$font-size-normal: 14px;
$font-size-caption: 12px;

$font-family: 'Libre Baskerville', serif;

// Color variables
$color-white: white;
$color-red: #b33f3f;
$color-white-smoke: #e0e0e0f4;
$color-blue-primary: #0071bc;

$color-black: #141a1f;
$color-black-90: #202830;
$color-black-50: #818888;
$color-black-20: #CDCFD0;
$color-black-10: #E6E7E7;

$xls-primary: #40C84E;
$xls-primary-90: #53CD5F;
$xls-primary-70: #6ad174;
$xls-primary-50: #A0E3A6;
$xls-primary-20: #D9F4DC;
$xls-primary-10: #ECF9ED;

$ps-primary: #007cbe;
$ps-primary-90: #1F6890;
$ps-primary-70: #3a7594;
$ps-primary-50: #82ABC1;
$ps-primary-20: #CDDDE6;
$ps-primary-10: #E6EEF3;

$cs-primary: #6528d6;
$cs-primary-90: #8853de;
$cs-primary-70: #9b6ee4;
$cs-primary-50: #ad93ea;
$cs-primary-10: #efeafb;


