<footer>
    <div class="container">
        <img src="assets/img/aty-logo.png" alt="AxelTeachesYou-Logo" height="200">
        <div class="main-contact d-flex justify-content-around px-lg-5 mt-3">
            <a href="#"><i class="bi-linkedin"></i></a>
            <a href="#"><i class="bi-github"></i></a>
            <a href="#"><i class="bi-youtube"></i></a>
            <a href="#"><i class="bi-twitter"></i></a>
        </div>
    </div>
</footer>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/app.js"></script>
</body>

</html>