<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AxelTeachesYou</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
    </style>

    <link rel="stylesheet" href="assets/font/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body class="{{ bodyClass }}">

    <svg id="body-wave-1" width="804" height="771" viewBox="0 0 804 771" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 0.5C59.6667 86.6667 82 269 466.5 386C851 503 787.333 684.667 803 770.5V0.5H1Z" fill="#065784" />
    </svg>



    {{> _navbar }}